.leftside{
    background-color: #4DB3FC;
    color: white;  
    
  
}
.col-md-6{
    
}
h1{
    font-family: 'Concert One', cursive; 
    text-align: left;
    
}

.leftside,.rightside{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10em;
  
}

@media screen and (min-width: 768px)
 {
    .leftside,.rightside{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10em;
        
    }
 }