* {
    box-sizing: border-box;
  }
  
  html {
    margin: 0;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    background-color: #4db3fc;
  }
  
  nav {
    display: none;
  }
  
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .box {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .leftside {
    color: white;
  }
  
  .rightside {
    background-color: white;
    border-radius: 5px;
  }
  
  h1 {
    font-family: "Concert One", cursive;
    text-align: left;
    font-size: 40px;
  }
  .icon{
      padding-top: 1em;
  }
  
  .styleicon1{
    color: #4db3fc;
    background: white;
    margin-right: 2em;
    margin-top: 0.5em;
    padding: 1em;
    border-radius: 50%;
  }
  .styleicon2{
    color: white;
    background: #4db3fc;
    margin-right: 2em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    border-radius: 50%;
  }

  .pic{
    position: fixed;
    color: #4db3fc;
    top: 15px;
    right: 16px;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
  }
  
  .feature{
      margin-top: 2em;
  }
  
  .item {
    display: flex;
    align-items: center;
    width: 70%;
  }
  
  
  @media screen and (max-width: 768px) {
    body {
      background-color: white;
    }
  
    nav {
      height: 7vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      font-weight: bold;
    }
    .leftside {
      background-color: #4db3fc;
      border-radius: 5px;
      flex-wrap: nowrap;
    }
  
    .rightside {
      flex-wrap: nowrap;
    }
    .menu {
        color: #4db3fc;
    }
  
    main {
      flex-direction: column;
    }
  
    .box {
      min-height: 50vh;
      width: 100%;
    }
  
    .item {
      width: 80%;
    }
    .pic {
      visibility: hidden;
    }
  
    

  }
  
